<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field new-question-fields">
    <%= form.label :question %> :
    <%= form.text_field :question, id: :question_question, class: "form-control" %>
  </div>

  <div class="field new-question-fields">
    <%= form.label :author %> :
    <%= form.text_field :author, id: :question_author, class: "form-control" %>
  </div>

  <div class="field new-question-fields">
    <%= form.label :country %> :
    <%= form.text_field :country, id: :question_country, class: "form-control" %>
  </div>

  <div class="field new-question-fields">
    <%= form.label :state %> :
    <%= form.text_field :state, id: :question_state, class: "form-control" %>
  </div>

  <%= form.submit 'Submit Question', :class => 'submit-button-style-1 btn button-style-1' %>

<% end %>
