<%= stylesheet_link_tag "questions" %>
<%= render 'navbar' %>
<div class="container text-center">
  <p>
    <strong>Question:</strong>
    <%= @question.question %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @question.author %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @question.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @question.state %>
  </p>

  <%= link_to 'Next', {controller: "questions", action: "game", question_id: @question.id}, :class => "a-tag-button button-style-1"%>
  <%= link_to 'Home', questions_path, :class => "a-tag-button button-style-1"%>
</div>
