<%= stylesheet_link_tag "questions" %>
<%= render 'navbar' %>
<div class="container text-center">
  <p>
    <strong>Question:</strong>
    <%= @question.question %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @question.author %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @question.country %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @question.state %>
  </p>


  <form class="" action="/questions/vote/<%= @question.id %>" method="POST">
    <button class="button-up-down" type="submit" name="vote_type" value="UP">
      <span class="glyphicon glyphicon-circle-arrow-up"></span>
    </button>
    <button class="button-up-down" type="submit" name="vote_type" value="DOWN">
      <span class="glyphicon glyphicon-circle-arrow-down"></span>
    </button>
  </form>

  <!-- <%= link_to 'Next', {controller: "questions", action: "game", question_id: @question.id}, :class => "a-tag-button button-style-1"%> -->
  <%= link_to 'Home', questions_path, :class => "a-tag-button button-style-1"%>
</div>
