<%= stylesheet_link_tag "application" %>
<%= stylesheet_link_tag "questions" %>

<%= render 'navbar' %>
<div class="container text-center">
  <br>
  <div class="button-wrap">
    <%= link_to 'New Question', new_question_path, :class => "a-tag-button button-style-1"%>
    <%= link_to 'Start Game', {controller: "questions", action: "game"}, :class => "a-tag-button button-style-1"%>
  </div>
</div>
